*{
    font-family:'ProductSans-Black', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

.user{
    display:flex;
    flex-direction:row;
    padding-left:32px;
    padding-right:4px;
    width: 253.59px;
    height:48px;
    justify-content:space-evenly;
}

.container1{
    display:flex;
    justify-content:flex-end;
    padding:6px;

}

.wrap1{
    padding-left:32px;
    padding-right:4px;
    min-width:368px;

}

.gmail, .images{
    display:flex;
    align-items:center;
    font-size:13px;
    color:rgb(52,52,52); 
    text-decoration: none;
}
.gmail:hover, .images:hover {
    text-decoration: underline;
}

.apps{
    width:24px;
    height:24px;
    display:flex;
    align-items:center;
    filter: invert(34%) sepia(1%) saturate(2468%) hue-rotate(169deg) brightness(97%) contrast(68%);
    -webkit-border-radius: 50px;
}
.appsbox{
    display:flex;
    align-items: center;
    background-color: transparent;
    width:40px;
    height:40px;
    margin-top:3px;
    justify-content: center;
    border-radius: 50px;   
}
.appsbox:hover{
    background-color: rgba(0,0,0,.07);
    cursor:pointer;
}

.pfpbox{
    display:flex;
    align-items: center;
    background-color: transparent;
    width:40px;
    height:40px;
    margin-top:3px;
    justify-content: center;
    border-radius: 50px;
}

.pfp{
    width:32px;
    height:32px;
    border-radius: 50%;
}
.pfpbox:hover{
    background-color: rgba(0,0,0,.07);
    cursor:pointer;
}

.pfp:hover{
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  
}
/* search bar related stuff wrapper3, wrapper2, searchbar */
.wrapper3{
    max-height:160px;
    display: flex;
    min-width:400px;
    flex-direction: column;
    width:auto;
    align-items: center;

}


.wrapper2{
    padding-top:6px;
    padding-left:20px;
    padding-right:20px;
    margin-top:6px;
    padding:20px;
    max-width: 625px;
    width:100%;
    min-width: 360px;
}


.searchbar{

    box-shadow:none;
    background:#fff;
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    border-radius:24px;
    border:1px solid #dfe1e5;
    min-height:48px;
    width:100%;
    min-width:360px;
}

.logowrapper{
    display:flex;
    flex-direction:column;
    align-items:center;
    position:relative;
    /* width:auto; */
    height:auto;
    margin-top:137px;
    min-width:400px;
}


.logo{
    width:272px;
    height:92px;
}


.searchbar:hover{
    filter:drop-shadow(0 1px 2px rgb(197, 188, 188));
}

.image-box {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search{
    line-height:20px;
    display:flex;
    align-items: center;
    /* padding-right:13px;
    padding-left:14px;
    padding-top:15px; */

    position:relative;
    width:20px;
    height:20px;
    filter: invert(69%) sepia(13%) saturate(159%) hue-rotate(169deg) brightness(91%) contrast(87%);
}

.voice{
    width:14.2px;
    height:19.2px;
    display:flex;


}
.searchimage{
    width:18px; 
    height:18px;
}

.buttons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-top:18px;

}

.input{
    border:none;
    outline:none;
    background:transparent;
    font-size:16px;
    min-width:220px;
    width:auto;
    flex:100%
}

.voicebutton{
    border:none;
    outline:none;
    background:transparent;

}

.widgets{
    display: flex;
    min-width:75px;
    flex-direction: row;
    justify-content: flex-end;
    height: 46px;
    width:auto;
    padding-right:8px;
}
.searchimagebutton{
    border:none;
    outline:none;
    background:transparent;
    padding:0 8px;
    cursor:pointer;
    align-items: center;
}
.voicebutton{
    border:none;
    outline:none;
    background:transparent;
    padding:0 13.8px;
    cursor:pointer;
    align-items: center;
}

.googlesearchbutton{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    filter:none;
}
.googlesearchbutton:hover, .feelingluckybutton:hover{
    filter:drop-shadow(0 0.2px 1.5px rgb(173, 167, 167));
}
.googlesearchbutton:active, .feelingluckybutton:active{
    border: 1px solid lightblue;
}
.feelingluckybutton{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    filter:none;
}

.languagetext{
    text-align: center;
    font-size:small;
    margin-bottom:28px;
    margin-top:3px;
}

.languagelink{
    color:#1a0dab;; 
    text-decoration: none;
}

.languagelink:hover{
    text-decoration: underline;
}

.wrapper4{
    min-width:400px;
    height:auto;
    max-height:246px;
}
.bottom{
    background: #f2f2f2;
    box-sizing: border-box;
    min-width: 400px;
    width:100%;
    position:fixed;
    bottom:0;

}
.b_b{
    display:flex;
    flex-direction: column;
    padding-left:20px;
    padding-right:20px;
    justify-content: space-evenly;
}
@media screen and (max-width: 400px)  {
    .b_b{
        flex-direction: column;
        justify-content: none;
    }
}
@media screen and (min-width: 664px)  {
    .b_b{
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (min-width:1200px)  {
    .b_b{
        flex-direction: row;
        justify-content: space-between;
    }
 
}
.b_t{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 1200px)
{
    .b_b_l, .b_b_r{
        justify-content: space-evenly;
    }
}

.b_b_l{
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    /* max-width:399.36px;
    max-height:46px;
    min-width:360px; */
}

.About, .Advertising, .Business, .HowSearchWorks {
    display: block;
    padding: 15px;
    white-space: nowrap;
    color: #70757a;
    text-decoration: none;
}

.About:hover,.Advertising:hover,.Business:hover,.HowSearchWorks:hover{
    text-decoration: underline;
}

.b_b_r{
    display: flex;
    flex-wrap:wrap;
    font-size: 14px;


}
.Privacy,.Terms,.Settings{
    color: #70757a;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
}

.Privacy:hover,.Terms:hover,.Settings:hover{
    text-decoration: underline;
}

.parent{
    display: flex;
    flex-direction: column;
    height: 100vh;
}